<div class="chat-header">
  <div class="header-group-name">
    hogefuga
  </div>
  <div class="header-button">
    <a href="#">チャットを終了</a>
  </div>
</div>

<div class="messages">
  <div class="upper-message">
    <div class="message-user">
      テスト
    </div>
    <div class="message-date">
      2020/3/31(Wed) 12:42:30
    </div>
  </div>
  <div class="bottom-message">
    <div class="message-text">
      おはよう
    </div>
  </div>
  <div class="upper-message">
    <div class="message-user">
      テスト
    </div>
    <div class="message-date">
      2020/3/31(Wed) 12:47:30
    </div>
  </div>
  <div class="bottom-message">
    <div class="message-text">
      こんばんは
    </div>
  </div>
</div>

<div class="form">
  <div class="form-left">
    <input type="text" class="form-text" placeholder="type a message">
     <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" class="form-image-button" value="送信">
</div>